{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Example Title</title>
    </head>
    <body style="margin:0px; padding:0px; background-color: #dddddd; font-family:Gill Sans MT, Verdana, arial, sans-serif;">
        <table width="100%" border="0" cellpadding="20" cellspacing="0" bgcolor="#dddddd">
            <tr>
                <td align="center" valign="top" >
                    <table border="0" cellpadding="0" cellspacing="0" bgcolor="white">
                        <tr>
                            <td>
                                <img src="{{ site_url }}{% static 'authentication/img/image-header.jpg' %}" width="600" height="140" alt="" />
                            </td>
                        </tr>
                        <tr height="10"><td></td></tr>
                    </table>

                    <table border="0" cellpadding="0" cellspacing="0" bgcolor="white" width="600">
                        <tr height="40">
                            <td width="20"></td>
                            <td width="560" style="font-family:Gill Sans MT, Verdana, arial, sans-serif; font-size:12pt;">
                                <p>You're receiving this e-mail because you requested a password reset for your user account at {{ site_url }}.</p>
                                <p>Please go to the following page and choose a new password:<br/>
                                {% block reset_link %}
                                    <a href="{{ site_url }}{% url 'authentication:password_reset_confirm' uidb64=uid token=token %}">{{ site_url }}{% url 'authentication:password_reset_confirm' uidb64=uid token=token %}</a>
                                {% endblock %}
                                </p>
                            </td>
                            <td width="20"></td>
                        </tr>
                        <tr height="10"><td></td></tr>
                    </table>

                    <table border="0" cellpadding="0" cellspacing="0" bgcolor="white" width="600">
                        <tr height="40">
                            <td width="20"></td>
                            <td width="560" style="font-family:Gill Sans MT, Verdana, arial, sans-serif; font-size:12pt;">
                                <p>Kind regards,<br/>
                                <span style="color:#ff7700">Tom Symonds</span></p>
                            </td>
                            <td width="20"></td>
                        </tr>
                        <tr height="10"><td></td></tr>
                    </table>

                    <table border="0" cellpadding="0" cellspacing="0" bgcolor="#ff7700" width="600">
                        <tr height="30">
                            <td width="600" style="color:#fff; text-align:center; font-family:Gill Sans MT, Verdana, arial, sans-serif;">
                                <a style="color:#fff;text-decoration:none;" href="{{ site_url }}">{{ site_url }}</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>