{% extends 'authentication/pages/base.html' %}

{% block title %}Welcome | Reset Password{% endblock %}
{% block formheading %}Email sent{% endblock %}

{% block content %}
    <div class="message-container">
        <div class="row">
            <div class="col-xs-12">
                <p>An email has been sent to you with further instructions for how to reset your password.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <a class="btn signin btn-login" href="{% url 'authentication:login' %}">Back to login</a>
            </div>
        </div>
    </div>
{% endblock %}