{% extends 'authentication/pages/_form_base.html' %}
{% load widget_tweaks staticfiles %}

{% block title %}Welcome | Reset Password{% endblock %}

{% block formheading %}Forgot your password{% endblock %}

{% block form %}
    <div class="row">
        <div class="col-xs-12">
            {% if form.errors %}
                <p class="error">There was a problem with the email you entered. Please try again.</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% include 'authentication/reusable/_email_input.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input class="btn signin" type="submit" value="Submit" />
        </div>
    </div>
{% endblock %}