{% load sekizai_tags staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'authentication/css/login-styles.css' %}">
        
        {% render_block "css" %}
    </head>
    <body>

        <div class="content-wrapper">
            <section id="login-section" class="wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="form-container">
                                <div class="heading">
                                    <h1>{% block formheading %}{% endblock %}</h1>
                                </div>
                                {% block content %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        {% render_block "js" %}        
    </body>
</html>